.container {
    max-width: 600px;
    margin: 50px auto;
    font-family: 'Lato', sans-serif;
    line-height: 1.5;
    background-image: url(../images/background.jpg);
    background-repeat: repeat-y;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}