.form {
    font-size: 20px;
    margin-bottom: 30px;
    overflow-x: auto;
}

.form__fieldset {
    border: 3px solid cornflowerblue;
    border-radius: 30px;
    background-color: hsla(0, 100%, 99%, 0.77);
}

.form__legend {
    font-size: 30px;
    color: white;
    font-weight: 700;
    background-color: cornflowerblue;
    padding: 5px 30px;
    border-radius: 40px;
    margin-left: 50px;
}

.form__paragraph {
    margin-left: 10%;
}

.form__button {
    margin-left: 10%;
    padding: 7px 70px;
    background-color: cornflowerblue;
    color: white;
    border: none;
    border-radius: 20px;
    font-weight: 700;
    cursor: pointer;
}

.form__buttonContainer {
    max-height: 30px;
    margin-top: 30px;
    margin-bottom: 50px;
}

.form__button:hover {
    background-color: hsl(219, 60%, 37%);
}

.form__button:active {
    box-shadow: inset 0px 0px 23px 2px hsla(231, 10%, 86%, 0.637);
}

.form__paragraph--comments {
    font-style: italic;
    font-size: 13px;
}

.form__labelText {
    display: inline-block;
    width: 220px;
}

.form__input {
    padding: 5px;
    width: 220px;
    margin-left: 10px;
}

.form__result {
    padding: 5px;
    width: 220px;
    display: inline-block;
    font-size: 19px;
    margin-left: 35px;
    font-weight: 700;
}
